@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Colors */
/* Fonts */
@font-face {
  font-family: Shrikhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto-Light.ttf);
}
/* Timing */
/*Header*/
header {
  position: relative;
}
header .return {
  position: absolute;
  left: 2rem;
  color: black;
}

/* Header */
/* Image */
.menu_image {
  height: 15rem;
  width: 100%;
  object-fit: cover;
}

/* Image */
/* Base Menu */
.Menu {
  margin: -5rem 15% 0 15%;
  background-color: #f2f2f2;
  position: relative;
  border-radius: 1.5rem 1.5rem 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 100%;
}

/* Base Menu */
/* Titre Menu */
.menu_title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1.5rem;
  font-family: Shrikhand;
}
.menu_title .restaurant_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_title i {
  position: absolute;
}
.menu_title .full_heart {
  opacity: 0;
}
.menu_title .restaurant_icon:hover {
  animation: all;
}
.menu_title .restaurant_icon:hover .far {
  opacity: 0.5;
}
.menu_title .restaurant_icon:hover .full_heart {
  transition: 0.8s;
  opacity: 1;
  background: linear-gradient(158deg, #ff79da 0%, #9356dc 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Titre Menu */
/* Grid Menu */
.restaurant_container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.menu_list {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
}

/* Grid Menu */
/* Titre Menu */
.menu_base h3 {
  font-size: 1.2rem;
  padding-left: 2rem;
}
.menu_base .title_menu_underline {
  margin-left: 2rem;
  margin-bottom: 1rem;
  background-color: #99E2D0;
  width: 3rem;
  height: 0.2rem;
}

/* Titre Menu*/
/* Menu Item */
.menu_item {
  display: flex;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  max-height: 2rem;
  overflow: hidden;
}
.menu_item .menu_header {
  flex: 1;
}
.menu_item .menu_prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 2rem;
  padding-left: 0.5rem;
}
.menu_item .menu_icon {
  background-color: #99E2D0;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1rem -5rem -1rem 1rem;
  font-size: 1.5rem;
  color: white;
  transition-duration: 0.5s;
}
.menu_item i {
  transition-duration: 0.5s;
}

/* Menu Item */
/* Menu Header */
.menu_header h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Roboto-Bold;
  width: 80%;
}
.menu_header p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

/* Menu Header */
/* Menu Icon */
.menu_item:hover .menu_icon {
  margin: -1rem -1rem -1rem 1rem;
}
.menu_item:hover i {
  transform: rotate(360deg);
}

/* Menu Icon */
/* Boutton */
.menu_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 2rem 0;
}
.menu_button input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 2rem;
  width: 12rem;
  height: 4rem;
}

/* Menu Animation */
.menu_1 .menu_item_1 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-fill-mode: both;
}
.menu_1 .menu_item_2 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}
.menu_1 .menu_item_3 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}

.menu_2 .menu_item_1 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
.menu_2 .menu_item_2 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.4s;
  animation-fill-mode: both;
}
.menu_2 .menu_item_3 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.menu_3 .menu_item_1 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.menu_3 .menu_item_2 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
}
.menu_3 .menu_item_3 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}

/* Menu La note enchantée */
.note_1 .menu_item_1 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-fill-mode: both;
}
.note_1 .menu_item_2 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}
.note_1 .menu_item_3 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
}
.note_1 .menu_item_4 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.note_2 .menu_item_1 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-fill-mode: both;
  animation-delay: 0.4s;
}
.note_2 .menu_item_2 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.note_2 .menu_item_3 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.6s;
  animation-fill-mode: both;
}

.note_3 .menu_item_1 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-fill-mode: both;
  animation-delay: 0.7s;
}
.note_3 .menu_item_2 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}
.note_3 .menu_item_3 {
  opacity: 0;
  animation: menu_appear 1s;
  animation-delay: 0.9s;
  animation-fill-mode: both;
}

@keyframes menu_appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Min-Width */
@media screen and (min-width: 2560px) {
  /* Menu */
  .Menu {
    margin-top: -7.2rem;
  }
  .Menu .menu_title {
    font-size: 2.5rem;
    margin: 1rem;
  }
  .Menu .menu_title .restaurant_icon {
    margin-right: 1rem;
  }
  .Menu h3 {
    font-size: 2rem;
  }
  .Menu .menu_list {
    font-size: 1.5rem;
  }
  .Menu .menu_item {
    padding: 2rem 0 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Menu .menu_header {
    padding-left: 1rem;
  }
  .Menu .menu_prix {
    padding-right: 1rem;
  }
  .Menu .menu_icon {
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    font-size: 2rem;
  }

  .menu_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    gap: 1rem;
  }

  /* Menu */
  /* Footer */
  footer {
    position: absolute;
    bottom: 0;
  }

  .footer h3 {
    font-size: 1.7rem;
  }
  .footer a {
    font-size: 1.4rem;
  }

  /* Footer */
  /* Index */
  /* Titre Principal */
  h1 {
    font-size: 2.5rem;
  }

  /* Titre Principal */
  /* Location */
  .location .map_marker {
    font-size: 1.6rem;
  }
  .location .location_text {
    font-size: 1.6rem;
  }

  .intro h2 {
    font-size: 1.6rem;
  }
  .intro p {
    font-size: 1.5rem;
  }
  .intro input {
    font-size: 1.3rem;
  }

  .operation ul {
    display: flex;
    flex-direction: row;
  }

  /* Location */
}
@media screen and (min-width: 1440px) {
  /* Restaurant */
  /* Menu */
  .menu_1, .menu_2 {
    margin-right: 1rem;
  }

  .menu_2, .menu_3 {
    margin-left: 1rem;
  }

  .footer h3 {
    font-size: 1.2rem;
    text-align: center;
  }
  .footer a {
    font-size: 1rem;
  }

  /* Menu */
  .restaurant_container {
    margin: 2rem 15rem 2rem 15rem;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem 2rem;
    grid-template-areas: "res1 res2" "res3 res4";
  }

  .menu_base {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .menu_image {
    height: 30rem;
  }
}
/* Max-Width */
@media screen and (max-width: 1421px) {
  .operation_list {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 1439px) {
  .footer h3 {
    font-size: 1.2rem;
    text-align: center;
  }
  .footer a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1399px) {
  .restaurant_container {
    margin: 0 1rem 0 1rem;
  }
}
@media screen and (max-width: 1024px) {
  /* Index */
  .operation {
    margin: 2rem 2rem 0 2rem !important;
  }

  .operation_list {
    display: flex;
    flex-direction: column;
  }

  .restaurant_container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .restaurant h2 {
    margin: 0 2rem 2rem 2rem !important;
  }

  /* Index */
}
@media screen and (max-width: 713px) {
  .footer {
    margin: 0 0 0 0 !important;
  }
  .footer h3 {
    font-size: 1.2rem;
  }
  .footer i, .footer span, .footer a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 664px) {
  .menu_header {
    width: 50%;
  }
}
@media screen and (max-width: 425px) {
  /* Header */
  header i {
    font-size: 1.7rem;
  }
  header a {
    left: 1rem !important;
  }

  /* Header */
  /* Footer */
  footer {
    justify-content: flex-start !important;
  }

  .footer {
    margin: 0 0 0 0 !important;
  }
  .footer h3 {
    font-size: 1.2rem;
  }
  .footer i, .footer span, .footer a {
    font-size: 1rem;
  }

  /* Footer */
  /* Intro */
  .intro_text {
    margin: 0 2rem 0 2rem;
  }

  /* Restaurant */
  .restaurant a {
    height: 12rem !important;
  }
  .restaurant img {
    height: 8rem !important;
  }
  .restaurant .restaurant_legend {
    margin-top: 0.5rem !important;
  }
  .restaurant .restaurant_legend h3 {
    font-size: 1rem;
  }
  .restaurant .restaurant_legend span {
    font-size: 0.9rem;
    padding-bottom: 1rem;
  }
  .restaurant .restaurant_legend i {
    font-size: 1.6rem;
    transform: translate(0, -50%);
  }

  /* Restaurant */
  /* Operation */
  .operation li {
    width: 95%;
  }

  .operation span, .operation i {
    font-size: 0.8rem;
  }

  /* Operation */
  /* Menu */
  .Menu {
    margin-left: 0;
    margin-right: 0;
  }
  .Menu h2 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .Menu .menu_header {
    font-size: 0.9rem;
    width: 50%;
  }
  .Menu .menu_header p {
    width: 90%;
  }
  .Menu .menu_header h4 {
    width: 90%;
  }
  .Menu .menu_button {
    padding: 2rem 0;
  }

  /* Menu */
}
header {
  text-align: center;
  padding: 1.8rem;
  font-size: 2rem;
  font-family: Shrikhand;
  border-bottom: 2px solid #cacaca;
}

main {
  font-family: Roboto-regular;
}
main .location {
  padding: 1rem;
  text-align: center;
  background-color: #e2e2e2;
}
main .map_marker {
  padding-right: 1rem;
  font-size: 1.2rem;
}
main .location_text {
  font-size: 1.2rem;
}
main .intro {
  text-align: center;
  padding: 1rem;
  background-color: #f2f2f2;
}
main input {
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background: #ff79da;
  background: linear-gradient(158deg, #ff79da 0%, #9356dc 100%);
  border: none;
  box-shadow: 1px 1px 15px 0 #7e7e7e;
  transition: transform 0.5s;
  cursor: pointer;
  font-family: Roboto-Bold;
  color: #fff;
}
main input:hover {
  transform: scale(1.05);
  background: linear-gradient(158deg, rgba(255, 121, 218, 0.8) 0%, rgba(147, 86, 220, 0.8) 100%);
}

.intro_text h2 {
  padding-bottom: 1rem;
  font-family: Roboto-Bold;
  font-size: 1.5rem;
}
.intro_text p {
  font-family: Roboto-Light;
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.operation {
  margin: 2rem 15rem 0 15rem;
}
.operation h2 {
  font-family: Roboto-Bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.operation ul {
  display: flex;
}
.operation li {
  margin: 1rem 1.5rem 0 0;
  display: flex;
  background-color: #f2f2f2;
  padding: 1.5rem 1rem;
  border-radius: 1.5rem;
  flex: 1;
  align-items: center;
  cursor: pointer;
  font-family: Roboto-Bold;
  font-size: 1.2rem;
}
.operation li:hover {
  background-color: rgba(147, 86, 220, 0.25);
}
.operation li:hover i {
  color: #9356DC;
}
.operation .number {
  background-color: #9356DC;
  color: #fff;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -1.7rem;
  margin-right: 0.8rem;
  font-size: 1.2rem;
}
.operation i {
  padding-right: 1rem;
  color: #747474;
}

.restaurant {
  margin-top: 2rem;
  background-color: #f2f2f2;
  padding-bottom: 2rem;
}
.restaurant h2 {
  margin: 0 15rem 2rem 15rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  font-family: Roboto-Bold;
}
.restaurant .restaurant_thumbnail {
  height: 20rem;
  background-color: #fff;
  border-radius: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.restaurant img {
  width: 100%;
  height: 15rem;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 1.5rem 1.5rem 0 0;
}
.restaurant .new {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  background-color: #99E2D0;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  color: #317e6a;
}
.restaurant .restaurant_legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant h3 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  font-family: Roboto-Bold;
}
.restaurant .restaurant_icon {
  position: relative;
  font-size: 1.8rem;
}
.restaurant i {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
.restaurant .full_heart {
  opacity: 0;
}
.restaurant .restaurant_icon:hover {
  animation: all;
}
.restaurant .restaurant_icon:hover .far {
  opacity: 0.5;
}
.restaurant .restaurant_icon:hover .full_heart {
  transition: 0.8s;
  opacity: 1;
  background: linear-gradient(158deg, #ff79da 0%, #9356dc 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

footer {
  margin: 0;
  background-color: #505050;
  display: flex;
  justify-content: center;
  position: relative;
}
footer .footer {
  width: fit-content;
  margin: 0 15rem 0 15rem;
}
footer h3 {
  font-size: 1.5rem;
  padding-top: 1rem;
  font-family: Shrikhand;
  padding-bottom: 1rem;
  color: #fff;
}
footer ul {
  margin: 0 2rem;
  padding-bottom: 1rem;
}
footer li {
  padding-bottom: 0.5rem;
  display: list-item;
}
footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}
footer i {
  padding-right: 0.5rem;
}

/* Loading Spinner */
.loading_spinner {
  background-color: rgba(102, 102, 102, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loading_screen 0.1s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
.loading_spinner .orb_1 {
  background-color: #9356DC;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  animation: loading_spinner 0.8s;
  animation-iteration-count: 2;
}
.loading_spinner .orb_2 {
  background-color: #FF79DA;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0 1rem 0 1rem;
  animation: loading_spinner 0.8s;
  animation-delay: 0.1s;
  animation-iteration-count: 2;
}
.loading_spinner .orb_3 {
  background-color: #99E2D0;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  animation: loading_spinner 0.8s;
  animation-delay: 0.2s;
  animation-iteration-count: 2;
}

@keyframes loading_spinner {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loading_screen {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

/*# sourceMappingURL=style.css.map */
