@media only screen and (min-width: 1440px) {
    /* Menu */
    .menu_list{
        display: flex;
        flex-direction: column;
    }
    .menu_1, .menu_2{
        margin-right: 1rem;
    }
    .menu_2, .menu_3{
        margin-left: 1rem;
    }

    .footer{
        h3{
            font-size: 1.2rem;
            text-align: center;
        }
        a{
            font-size: 1rem;
        }
    }
    /* Menu */
}